.btn {
	background: #008952;
	color: #fff;
	transition: all 75ms ease-in-out;
	line-height: 1.2rem;
	font-weight: 900;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	text-shadow: none;
	border: none;
	border-radius: .25rem;
	box-shadow: none;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.btn:after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: .25rem
}

a.btn {
	color: #fff
}

.no_touch .btn.hover,
.no_touch .btn:focus,
.no_touch .btn:hover {
	outline: 0;
	text-decoration: none
}

.btn.hover,
.btn:focus,
.btn:hover {
	background: #008952;
	box-shadow: 0 1px 4px rgba(44, 45, 48, .3);
	color: #fff;
	transition: all 75ms ease-in-out
}

.btn.active,
.btn:active {
	background: #057f4e;
	color: #fff
}

.btn_outline {
	background: #fff;
	color: #2c2d30!important;
	box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .3);
	font-weight: 700
}

.btn_outline.btn_transparent {
	background-color: transparent!important;
	color: rgba(255, 255, 255, .9)!important
}

.btn_outline.btn_transparent.active,
.btn_outline.btn_transparent:active {
	background: rgba(255, 255, 255, .9)!important;
	background-color: rgba(255, 255, 255, .8)!important
}

.btn_outline.hover,
.btn_outline:focus,
.btn_outline:hover {
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .3), 0 1px 4px rgba(44, 45, 48, .2)
}

.btn_outline:active {
	background: #f9f9f9;
	box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .5)
}

.btn_outline.active {
	background: #f9f9f9;
	box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .5);
	color: #2c2d30!important;
	margin-top: 0
}

.btn.btn_outline.btn_danger,
.btn.btn_outline.btn_warning {
	background: #f9f9f9!important
}

.btn.btn_outline.btn_danger:focus,
.btn.btn_outline.btn_danger:hover,
.btn.btn_outline.btn_warning:focus,
.btn.btn_outline.btn_warning:hover {
	background: #fff!important
}

.btn.btn_outline.btn_warning:focus,
.btn.btn_outline.btn_warning:hover {
	color: #ff9000!important
}

.btn.btn_outline.btn_danger:focus,
.btn.btn_outline.btn_danger:hover {
	color: #d72b3f!important
}

.btn.btn_outline.disabled,
.btn.btn_outline.disabled:hover {
	color: rgba(44, 45, 48, .75)!important;
	background: #e8e8e8!important
}

.btn_unstyle {
	background: 0 0;
	border: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	outline: 0
}

.btn_basic {
	background: 0 0;
	border: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	outline: 0;
	color: inherit
}

.btn_basic:focus,
.btn_basic:hover {
	color: #005e99
}

.btn_link {
	background: 0 0;
	border: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	outline: 0;
	color: #0576b9;
	vertical-align: baseline;
	cursor: pointer
}

.btn_link:focus,
.btn_link:hover {
	color: #005e99;
	text-decoration: underline
}

.btn.btn_border {
	background: 0 0;
	border: 2px solid #fff
}

.btn.btn_border:after {
	box-shadow: none
}

.btn.disabled,
.btn.disabled:active,
.btn.disabled:hover,
.btn:disabled,
.btn:disabled:active,
.btn:disabled:hover {
	background-color: #e8e8e8!important;
	color: rgba(44, 45, 48, .75);
	box-shadow: none!important;
	pointer-events: none
}

.btn {
	padding: 8px 14px 9px;
	font-size: 15px
}

.btn_small {
	font-size: 14px;
	padding: 5px 10px
}

.btn_small i:before {
	font-size: 15px
}

.btn_large {
	padding: 14px 32px 16px;
	font-size: 20px
}

.btn_extra_large {
	font-size: 1.125rem;
	padding: 1.25rem
}

.btn_expand {
	width: 100%;
	display: block
}

@media only screen and (max-width:640px) {
	.btn_large {
		padding: 14px 20px 16px
	}
	.btn_extra_large {
		padding: .9375rem 2rem
	}
}

.btn.btn_info {
	background-color: #2d9ee0
}

.btn.btn_warning {
	background-color: #ff9000
}

.btn.btn_danger {
	background-color: #d72b3f
}

.btn.btn_twitter {
	background-color: #55acee
}

.btn.btn_facebook {
	background-color: #3b5998
}

.btn.btn_transparent {
	background-color: rgba(255, 255, 255, .25)
}

.btn.btn_success {
	background-color: #008952
}

.btn .ts_icon,
.btn i,
.btn ts-icon {
	margin-right: .25rem
}

.btn .ts_icon:before,
.btn i:before,
.btn ts-icon:before {
	font-size: inherit;
	vertical-align: bottom
}

.btn_large .ts_icon,
.btn_large i,
.btn_large ts-icon {
	margin-right: .5rem;
	font-size: 18px
}

.btn_extra_large .ts_icon,
.btn_extra_large i,
.btn_extra_large ts-icon {
	vertical-align: middle;
	font-size: 1.25rem
}

.btn_with_icon {
	position: relative;
	padding-left: 3rem!important
}

.btn_with_icon .ts_icon,
.btn_with_icon i,
.btn_with_icon ts-icon {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: .5rem .75rem;
	border-right: 1px solid rgba(255, 255, 255, .5);
	background: rgba(0, 0, 0, .2);
	display: inline-block;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
	background-clip: padding-box;
	font-size: 1.4rem!important;
	line-height: 2.25rem
}

.btn_icon {
	width: 32px;
	height: 30px;
	padding: 0
}

.btn_icon:before {
	display: block
}

.btn.dropdown-toggle .caret {
	border-top-color: #fff
}

.pill_btn {
	border-radius: 2rem;
	padding: 5px 13px 6px;
	font-weight: 600
}

.pill_btn:after {
	border-radius: 2rem
}

.pill_btn .ts_icon,
.pill_btn i,
.pill_btn ts-icon {
	margin-right: .1rem
}

.pill_btn.btn_small {
	padding: 3px 10px
}

.pill_btn.btn_large {
	padding: 14px 32px 16px
}

.pill_btn.btn_large .ts_icon,
.pill_btn.btn_large i,
.pill_btn.btn_large ts-icon {
	margin-right: .4rem
}

.btn.btn_attachment {
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid rgba(145, 145, 147, .5);
	color: #2c2d30;
	max-width: 220px;
	font-size: 13px;
	font-weight: 700;
	height: 30px;
	padding: 0 10px;
	margin: 0 8px 8px 0
}

.btn.btn_attachment .btn_attachment_text {
	pointer-events: none
}

.btn.btn_attachment .emoji-outer {
	height: 1rem;
	margin-top: -5px;
	width: 1rem
}

.btn.btn_attachment:focus,
.btn.btn_attachment:hover {
	border-color: #919193
}

.btn.btn_attachment:focus::after,
.btn.btn_attachment:hover::after {
	box-shadow: none
}

.btn.btn_attachment:active {
	background-color: rgba(145, 145, 147, .05);
	border-color: #919193;
	box-shadow: inset 0 1px 1px 0 rgba(145, 145, 147, .2)
}

.btn.btn_attachment:active::after {
	box-shadow: none!important
}

.btn.btn_attachment:disabled .emoji-outer {
	opacity: .4
}

.btn.btn_attachment.loading {
	background-color: rgba(145, 145, 147, .05)!important;
	border-color: rgba(145, 145, 147, .5);
	color: rgba(113, 114, 116, .8);
	opacity: 1!important
}

.btn.btn_attachment.btn_primary {
	background-color: transparent!important;
	border-color: rgba(0, 137, 82, .5);
	color: #008952
}

.btn.btn_attachment.btn_primary:focus,
.btn.btn_attachment.btn_primary:hover {
	border-color: #008952
}

.btn.btn_attachment.btn_primary:active {
	background-color: rgba(0, 137, 82, .04)!important;
	box-shadow: inset 0 1px 1px 0 rgba(0, 137, 82, .2);
	border-color: #008952
}

.btn.btn_attachment.btn_primary.loading {
	background-color: rgba(0, 137, 82, .04)!important;
	border-color: rgba(0, 137, 82, .5);
	color: rgba(0, 137, 82, .8)
}

.btn.btn_attachment.btn_danger {
	background-color: transparent!important;
	border-color: rgba(215, 43, 63, .5);
	color: #d72b3f
}

.btn.btn_attachment.btn_danger:focus,
.btn.btn_attachment.btn_danger:hover {
	border-color: #d72b3f
}

.btn.btn_attachment.btn_danger:active {
	background-color: rgba(215, 43, 63, .02)!important;
	box-shadow: inset 0 1px 1px 0 rgba(215, 43, 63, .2);
	border-color: #d72b3f
}

.btn.btn_attachment.btn_danger.loading {
	background-color: rgba(215, 43, 63, .02)!important;
	border-color: rgba(215, 43, 63, .5);
	color: rgba(215, 43, 63, .8)
}

.btn_ios,
.btn_ios:focus,
.btn_ios:hover {
	width: 127px;
	height: 38px;
	background-image: url(/66f9/img/ios_app_store_badge.png);
	background-size: 127px 38px
}

.btn_macos,
.btn_macos:focus,
.btn_macos:hover {
	width: 127px;
	height: 38px;
	background-image: url(/ea2d3/img/ios_mac_app_store_badge.png);
	background-size: 127px 38px
}

.btn_ios_large,
.btn_ios_large:focus,
.btn_ios_large:hover {
	width: 175px;
	height: 52px;
	background-image: url(/d1609/img/ios_app_store_badge_large.png);
	background-size: 175px 52px
}

.btn_android,
.btn_android:focus,
.btn_android:hover {
	width: 110px;
	height: 38px;
	background-image: url(/66f9/img/google_play_badge.png);
	background-size: 110px 39px
}

.btn_windows,
.btn_windows:focus,
.btn_windows:hover {
	width: 146px;
	height: 38px;
	background-image: url(/97d7c/img/windows_store_badge.png);
	background-size: 146px 38px
}

.btn_android,
.btn_ios,
.btn_ios_large,
.btn_windows {
	border-radius: 0;
	background-color: transparent;
	border-bottom: 0
}

.btn_android:focus,
.btn_android:hover,
.btn_ios:focus,
.btn_ios:hover,
.btn_ios_large:focus,
.btn_ios_large:hover,
.btn_windows:focus,
.btn_windows:hover {
	background-color: transparent
}

.btn_android:after,
.btn_ios:after,
.btn_ios_large:after,
.btn_windows:after {
	display: none
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
	.btn_ios,
	.btn_ios:focus,
	.btn_ios:hover {
		background-image: url(/66f9/img/ios_app_store_badge@2x.png)
	}
	.btn_macos,
	.btn_macos:focus,
	.btn_macos:hover {
		background-image: url(/ea2d3/img/ios_mac_app_store_badge@2x.png)
	}
	.btn_ios_large,
	.btn_ios_large:focus,
	.btn_ios_large:hover {
		background-image: url(/d1609/img/ios_app_store_badge_large@2x.png)
	}
	.btn_android,
	.btn_android:focus,
	.btn_android:hover {
		background-image: url(/66f9/img/google_play_badge@2x.png)
	}
	.btn_windows,
	.btn_windows:focus,
	.btn_windows:hover {
		background-image: url(/97d7c/img/windows_store_badge@2x.png)
	}
}

.link_btn {
	color: currentColor
}

.link_btn,
a.link_btn {
	text-decoration: underline
}

.link_btn:hover {
	filter: brightness(75%)
}

.btn_container .btn {
	display: block
}

@media screen and (min-width:480px) {
	.btn_container .btn {
		display: inline-block
	}
	.btn_container .btn+.btn {
		margin-left: 1rem
	}
	.btn_container.med_space .btn+.btn {
		margin-left: 1.5rem
	}
	.btn_container.large_space .btn+.btn {
		margin-left: 2rem
	}
	.btn_container.larger_space .btn+.btn {
		margin-left: 3rem
	}
	.btn_container.very_large_space .btn+.btn {
		margin-left: 4rem
	}
}

.blue_on_hover:hover{color:#0576b9 !important}

.c_link__button {
    background: none;
    border: 0;
    font: inherit;
    margin: 0;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: initial;
    cursor: pointer;
    color: #0576b9;
    text-decoration: none;
    vertical-align: baseline;
}

.c_link__button:active,
.c_link__button:focus,
.c_link__button:hover {
    outline: none;
    color: #005e99;
    text-decoration: underline;
}

.c_link__disabled,
.c_link__disabled:active,
.c_link__disabled:focus,
.c_link__disabled:hover {
    color: rgba(44, 45, 48, .75);
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.c_link__invert {
    color: inherit;
    text-decoration: underline;
}

.c_link__invert:active,
.c_link__invert:hover,
.c_link__invert:visited {
    color: inherit;
}

.c-firefox-compat-button {
    display: inline-block;
}

.c_button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    align-items: center;
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.c_button,
.c_button:active,
.c_button:focus,
.c_button:hover {
    text-decoration: none;
}

.c_button__primary {
    transition: all 75ms ease-in-out;
    background: #008952;
    color: #fff;
    font-weight: 900;
    box-shadow: none
}

.c_button__primary:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px
}

.c_button__primary:link,
.c_button__primary:visited {
    color: #fff
}

.c_button__primary:hover {
    color: #fff;
    box-shadow: 0 1px 4px rgba(44, 45, 48, .3)
}

.c_button__primary:active {
    background: #057f4e;
    box-shadow: none
}

.c_button__danger {
    transition: all 75ms ease-in-out;
    background: #d72b3f;
    color: #fff;
    font-weight: 900;
    box-shadow: none
}

.c_button__danger:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px
}

.c_button__danger:link,
.c_button__danger:visited {
    color: #fff
}

.c_button__danger:hover {
    color: #fff;
    box-shadow: 0 1px 4px rgba(44, 45, 48, .3)
}

.c_button__danger:active {
    background: #c42b3d;
    box-shadow: none
}

.c_button__outline {
    transition: all 75ms ease-in-out;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .3);
    color: #2c2d30;
    font-weight: 700
}

.c_button__outline:link,
.c_button__outline:visited {
    color: #2c2d30
}

.c_button__outline:hover {
    box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .3), 0 1px 4px rgba(44, 45, 48, .2)
}

.c_button__outline:active {
    background: hsla(0, 0%, 98.8%, .822);
    box-shadow: inset 0 0 0 1px rgba(44, 45, 48, .5)
}

.c_button__outline.c_button__disabled,
.c_button__outline.c_button__disabled:active,
.c_button__outline.c_button__disabled:hover {
    box-shadow: none
}

.c_button__outline:active {
    background: #f9f9f9
}

.c_button__outline_primary {
    transition: all 75ms ease-in-out;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 137, 82, .3);
    color: #008952;
    font-weight: 700;
}

.c_button__outline_primary:link,
.c_button__outline_primary:visited {
    color: #008952;
}

.c_button__outline_primary:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 137, 82, .3), 0 1px 4px rgba(44, 45, 48, .2)
}

.c_button__outline_primary:active {
    background: hsla(0, 0%, 98.8%, .822);
    box-shadow: inset 0 0 0 1px rgba(0, 137, 82, .5)
}

.c_button__outline_primary.c_button__disabled,
.c_button__outline_primary.c_button__disabled:active,
.c_button__outline_primary.c_button__disabled:hover {
    box-shadow: none;
}

.c_button__outline_danger {
    transition: all 75ms ease-in-out;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(215, 43, 63, .3);
    color: #d72b3f;
    font-weight: 700;
}

.c_button__outline_danger:link,
.c_button__outline_danger:visited {
    color: #d72b3f;
}

.c_button__outline_danger:hover {
    box-shadow: inset 0 0 0 1px rgba(215, 43, 63, .3), 0 1px 4px rgba(44, 45, 48, .2)
}

.c_button__outline_danger:active {
    background: hsla(0, 0%, 98.8%, .822);
    box-shadow: inset 0 0 0 1px rgba(215, 43, 63, .5)
}

.c_button__outline_danger.c_button__disabled,
.c_button__outline_danger.c_button__disabled:active,
.c_button__outline_danger.c_button__disabled:hover {
    box-shadow: none
}

.c_button__small {
    font-size: 13px;
    height: 28px;
    min-width: 56px;
    padding: 0 12px 1px
}

.c_button__medium {
    font-size: 15px;
    height: 36px;
    min-width: 80px;
    padding: 0 12px 1px
}

.c_button__large {
    font-size: 18px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px
}

.c_button__disabled {
    transition: all 75ms ease-in-out;
    background: #e8e8e8;
    color: rgba(44, 45, 48, .75);
    cursor: default;
    font-weight: 900;
    pointer-events: none;
    text-shadow: none
}

.c_button__icon {
    min-width: 0;
    padding: 0
}

.c_button__icon .c-deprecated-icon:before {
    display: block;
    line-height: 1
}

.c_button__icon.c_button__small {
    width: 20px;
    height: 20px
}

.c_button__icon.c_button__small .c-deprecated-icon:before {
    font-size: 12px
}

.c_button__icon.c_button__medium {
    width: 28px;
    height: 28px
}

.c_button__icon.c_button__medium .c-deprecated-icon:before {
    font-size: 16px
}

.c_button__icon.c_button__large {
    width: 32px;
    height: 32px
}

.c_button__icon.c_button__large .c-deprecated-icon:before {
    font-size: 20px
}

.c_button_unstyled {
    background: none;
    border: 0;
    color: inherit;
    // font: inherit;
    margin: 0;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: initial;
    vertical-align: initial;
    cursor: pointer
}

.c_button_unstyled:active,
.c_button_unstyled:focus,
.c_button_unstyled:hover {
    outline: none
}
