#fs_modal.fs_modal_file_viewer>.fs_modal_btn {
	display: none
}

#fs_modal.fs_modal_file_viewer .fs_modal_file_viewer_content {
	display: block;
	padding: 0
}

#fs_modal.fs_modal_file_viewer .contents {
	max-width: none;
	width: 100%;
	margin: 0;
	padding: 0
}

.fs_modal_file_viewer_content,
.fs_modal_file_viewer_content .contents {
	width: 100%;
	height: 100%
}

.fs_modal_file_viewer_content.aside_panel_active .viewer {
	width: calc(100% - 23.4375rem)
}

.fs_modal_file_viewer_content.aside_panel_active .aside_panel {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none
}

.fs_modal_file_viewer_content .viewer {
	position: absolute;
	top: 56px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 3.5rem);
	overflow: hidden;
	background-color: #f3f3f3;
	-webkit-transition: width .25s ease-out;
	-moz-transition: width .25s ease-out;
	transition: width .25s ease-out
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer {
	border-right: .25rem solid transparent;
	border-right: none
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar {
	position: absolute;
	-webkit-appearance: none;
	width: 16px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-thumb,
.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-track {
	background-clip: padding-box!important;
	color: #f3f3f3;
	border-left: 4px solid #f3f3f3;
	border-right: 4px solid #f3f3f3;
	border-radius: 6px/4px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-track {
	background: #f3f3f3;
	box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-thumb {
	background: rgba(44, 45, 48, .52);
	box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
	min-height: 36px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-corner {
	background: #f3f3f3
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer {
	margin-right: 2px;
	border-right: none
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer::-webkit-scrollbar {
	position: absolute;
	-webkit-appearance: none;
	width: 16px
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-thumb {
	background-color: rgba(44, 45, 48, .5);
	background-clip: padding-box!important;
	border-radius: 3px;
	color: rgba(44, 45, 48, .52);
	min-height: 36px
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-thumb:hover {
	background-color: rgba(44, 45, 48, .8)
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-thumb,
.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .viewer::-webkit-scrollbar-track {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-radius: 6px/4px
}

.fs_modal_file_viewer_content .viewer #pdf_loading_spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.fs_modal_file_viewer_content .viewer .images {
	width: 100%;
	height: 100%
}

.fs_modal_file_viewer_content .viewer figure {
	margin: 0
}

.fs_modal_file_viewer_content .viewer .scaled {
	min-width: 100%;
	min-height: 100%
}

.fs_modal_file_viewer_content .viewer .scaled .scaled_image {
	max-width: calc(100% - 44px);
	max-height: calc(100% - 44px);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	cursor: nesw-resize;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in
}

.fs_modal_file_viewer_content .viewer .scaled .scaled_image.no_zoom {
	cursor: default
}

.fs_modal_file_viewer_content .viewer .actual_pixel {
	visibility: hidden;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
	text-align: center;
	cursor: zoom-out
}

.fs_modal_file_viewer_content .viewer .actual_pixel .actual_pixel_center {
	display: table-cell;
	min-width: 100%;
	min-height: 100%;
	vertical-align: middle
}

.fs_modal_file_viewer_content .viewer .actual_pixel .actual_pixel_image {
	max-width: none;
	display: inline-block
}

.fs_modal_file_viewer_content .viewer .broken_image .scaled_image {
	visibility: hidden
}

.fs_modal_file_viewer_content .viewer .orientation_5 {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.fs_modal_file_viewer_content .viewer .orientation_6 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.fs_modal_file_viewer_content .viewer .orientation_7 {
	-webkit-transform: rotate(-90deg) scaleY(-1);
	-moz-transform: rotate(-90deg) scaleY(-1);
	-ms-transform: rotate(-90deg) scaleY(-1);
	transform: rotate(-90deg) scaleY(-1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.fs_modal_file_viewer_content .viewer .orientation_8 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.fs_modal_file_viewer_content .viewer .control_btns {
	opacity: 0;
	-webkit-transition: opacity .25s ease-out;
	-moz-transition: opacity .25s ease-out;
	transition: opacity .25s ease-out
}

.fs_modal_file_viewer_content .viewer:hover .control_btns {
	opacity: 1
}

.fs_modal_file_viewer_content .viewer .next_btn,
.fs_modal_file_viewer_content .viewer .previous_btn {
	top: calc(50% - 25.5px);
	position: absolute;
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-transition: opacity 250ms ease-out, background-color 250ms ease-out, color .1s ease-out;
	-moz-transition: opacity 250ms ease-out, background-color 250ms ease-out, color .1s ease-out;
	transition: opacity 250ms ease-out, background-color 250ms ease-out, color .1s ease-out
}

.fs_modal_file_viewer_content .viewer .next_btn ts-icon,
.fs_modal_file_viewer_content .viewer .previous_btn ts-icon {
	display: block;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .08);
	width: 51px;
	height: 51px;
	border-radius: 51px;
	background: #fff;
	line-height: 51px
}

.fs_modal_file_viewer_content .viewer .next_btn[disabled],
.fs_modal_file_viewer_content .viewer .previous_btn[disabled] {
	cursor: default;
	opacity: .3
}

.fs_modal_file_viewer_content .viewer .next_btn:focus:not([disabled]),
.fs_modal_file_viewer_content .viewer .next_btn:hover:not([disabled]),
.fs_modal_file_viewer_content .viewer .previous_btn:focus:not([disabled]),
.fs_modal_file_viewer_content .viewer .previous_btn:hover:not([disabled]) {
	color: #005e99
}

.fs_modal_file_viewer_content .viewer .previous_btn {
	left: 15px
}

.fs_modal_file_viewer_content .viewer .next_btn {
	right: 15px
}

.fs_modal_file_viewer_content .viewer.show_actual_pixel {
	overflow: auto
}

.fs_modal_file_viewer_content .viewer.show_actual_pixel .scaled {
	position: absolute;
	visibility: hidden
}

.fs_modal_file_viewer_content .viewer.show_actual_pixel .actual_pixel {
	position: relative;
	visibility: visible
}

.fs_modal_file_viewer_content .viewer.show_actual_pixel .control_btns {
	display: none
}

.fs_modal_file_viewer_content .aside_panel {
	position: absolute;
	z-index: 2;
	overflow: auto;
	top: 56px;
	right: 0;
	bottom: 0;
	width: 375px;
	box-shadow: -1px 0 0 rgba(0, 0, 0, .10196078);
	background-color: #fefefe;
	-webkit-transition: -webkit-transform .25s ease-out;
	-moz-transition: -moz-transform .25s ease-out;
	transition: transform .25s ease-out;
	-webkit-transform: translateX(23.4375rem);
	-moz-transform: translateX(23.4375rem);
	-ms-transform: translateX(23.4375rem);
	transform: translateX(23.4375rem);
	padding: 0 25px 25px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel {
	border-right: .25rem solid transparent
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar {
	position: absolute;
	-webkit-appearance: none;
	width: 8px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-thumb,
.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-track {
	background-clip: padding-box!important;
	border-radius: 3px;
	color: #fff
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-track {
	background: #f3f3f3;
	box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-thumb {
	background: rgba(44, 45, 48, .52);
	box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
	min-height: 36px
}

.supports_custom_scrollbar:not(.slim_scrollbar) .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-corner {
	background: #fff
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .aside_panel {
	margin-right: 2px
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar {
	position: absolute;
	-webkit-appearance: none;
	width: 6px
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-thumb {
	background-color: rgba(44, 45, 48, .5);
	background-clip: padding-box!important;
	border-radius: 3px;
	color: rgba(44, 45, 48, .52);
	min-height: 36px
}

.supports_custom_scrollbar.slim_scrollbar .fs_modal_file_viewer_content .aside_panel::-webkit-scrollbar-thumb:hover {
	background-color: rgba(44, 45, 48, .8)
}

.fs_modal_file_viewer_content .comment_header {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	height: 50px;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5
}

.fs_modal_file_viewer_content .no_comment {
	position: relative;
	z-index: 2;
	margin-top: -21px;
	margin-bottom: 40px;
	padding-top: 133px;
	background: url(/0180/img/files/file_viewer_no_comment.png) 50% 1.3125rem no-repeat #fff;
	background-size: 231px;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color: #9b9bab
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
	.fs_modal_file_viewer_content .no_comment {
		background-image: url(/0bfa/img/files/file_viewer_no_comment@2x.png)
	}
}

.fs_modal_file_viewer_content .comments+.no_comment {
	display: none
}

.fs_modal_file_viewer_content .comments:empty+.no_comment {
	display: block
}

.fs_modal_file_viewer_content .aside_back_btn,
.fs_modal_file_viewer_content .aside_close_btn {
	position: absolute;
	padding: 0;
	border: 0;
	background: 0 0;
	font-size: .875rem;
	line-height: 22px;
	color: #0576b9
}

.fs_modal_file_viewer_content .aside_back_btn:focus,
.fs_modal_file_viewer_content .aside_back_btn:hover,
.fs_modal_file_viewer_content .aside_close_btn:focus,
.fs_modal_file_viewer_content .aside_close_btn:hover {
	text-decoration: underline
}

.fs_modal_file_viewer_content .comment_label {
	text-align: center;
	margin-bottom: 0;
	font-size: .9375rem;
	line-height: 20px
}

.fs_modal_file_viewer_content #file_comment_form {
	padding-left: 46px
}

.fs_modal_file_viewer_content #file_comment {
	font-size: .9375rem;
	color: #2c2d30
}

.fs_modal_file_viewer_content .details_header {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	height: 50px;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center
}

.fs_modal_file_viewer~#emoji_menu {
	z-index: 1042
}

.fs_modal_file_viewer~#emoji_menu #emoji_menu_content {
	z-index: 1043
}

.fs_modal_file_viewer~#ts_tip_float_floater {
	z-index: 1042
}

.fs_modal_file_viewer.with_conversations .aside_close_btn {
	right: 0
}